{% extends "cicero/auth.html" %}
{% load cicero %}

{% block cicer_title %}{{ topic|escape }}{% endblock %}

{% block content %}

<h2>{{ topic.subject|escape }}</h2>

{% paginator %}

<ol>
{% for article in object_list %}
  <li>
    <div class="usertext">
      {{ article.html }}
    </div>
    <div class="meta">
      <address>{{ article.author_display }}</address>
      <p class="time">{{ article.created|date:"d.m.Y H:i" }}
    </div>
{% endfor %}
</ol>

{% paginator %}

<form action="./" method="post" id="add">
  <p>
    <label for="id_text">{{ form.text.label }}</label>
    {{ form.text }}
    {% if form.text.errors %}<em class="error">{{ form.text.errors|join:", " }}</em>{% endif %}
  {% if not user.is_authenticated %}
  <p>
    <label for="id_name">{{ form.name.label }}</label>
    {{ form.name }}
    {% if form.name.errors %}<em class="error">{{ form.name.errors|join:", " }}</em>{% endif %}
  {% endif %}
  
  <div class="buttons"><button type="submit">Добавить</button></div>
</form>

<ul id="breadcrumbs">
  <li id="index_link"><a href="../../">Начало</a>
  <li id="forum_link"><a href="../">{{ topic.forum|escape }}</a>
</ul>

{% endblock %}