{% extends "cicero/auth.html" %}
{% load cicero %}

{% block cicero_title %}{{ topic|escape }}{% endblock %}

{% block content %}

<h2>{{ topic.subject|escape }}</h2>

{% paginator %}

<ol>
{% for article in object_list %}
  <li>
    {% if not article.spawned %}
    <div class="usertext">
      {{ article.html }}
    </div>
    <div class="meta">
      <p class="mutant">{% if article.cicero_profile.mutant %}<a href="{% obj_url article.cicero_profile %}"><img src="{{ article.cicero_profile.get_mutant_url }}" alt=""></a>{% endif %}
      <address>
      {% if not article.from_guest %}
        <a href="{% obj_url article.cicero_profile %}" title="{{ article.cicero_profile.openid|escape }}">{{ article.cicero_profile }}</a>
      {% else %}
        {{ article.guest_name }}
      {% endif %}
      </address>
      <p class="time">{{ article.created|date:"d.m.Y H:i" }}
    </div>
    <div class="control">
      {% ifcanchange profile article %}
      <a href="{% url cicero.views.article_edit article.id %}">Редактировать</a>
      <form action="{% url cicero.views.article_delete article.id %}" method="post"><button>Удалить</button></form>
      {% endifcanchange %}
      {% if profile.moderator %}
      <a href="{% url cicero.views.spawn_topic article.id %}">Отщепить топик</a>
      {% endif %}
    </div>
    {% else %}
    <div class="spawned">
    Отщеплен новый топик "<a href="{% url cicero.views.topic article.spawned_to.forum.slug,article.spawned_to.id %}">{{ article.spawned_to.subject|escape }}</a>".
    </div>
    {% endif %}
{% endfor %}
</ol>

{% paginator %}

<form action="./" method="post" id="add">
  <p>
    <label for="id_text">{{ form.text.label }}</label>
    {{ form.text }}
    {% if form.text.errors %}<em class="error">{{ form.text.errors|join:", " }}</em>{% endif %}
  {% if not user.is_authenticated %}
  <p>
    <label for="id_name">{{ form.name.label }}</label>
    {{ form.name }}
    {% if form.name.errors %}<em class="error">{{ form.name.errors|join:", " }}</em>{% endif %}
  {% endif %}
  
  <div class="buttons"><button type="submit">Добавить</button></div>
</form>

{% endblock %}

{% block aside %}
<ul id="breadcrumbs" class="block">
  <li id="index_link"><a href="{% url index %}">Начало</a>
  <li id="forum_link"><a href="{% url cicero.views.forum topic.forum.slug %}">{{ topic.forum|escape }}</a>
</ul>
{% endblock %}