{% extends template_base %}
{% load cicero %}

{% block cicero_content %}

<div id="content">
{% block content %}{% endblock %}
</div>

{% if user.is_authenticated %}
<form action="{% url cicero.views.logout %}" method="post" id="auth">
  <p>
    <a href="{% obj_url profile %}">{{ profile|escape }}</a>
  <div class="buttons"><button type="submit">Выход</button></div>
</form>
{% else %}
<form action="{% url cicero.views.login %}" method="post" id="auth">
  <p><label>OpenID: <input type="text" name="openid_url"></label>
  <div class="buttons"><button type="submit">Вход</button></div>
</form>
{% endif %}

{% endblock %}