{% extends "cicero/base.html" %}
{% load cicero %}

{% block cicero_content %}

<div id="content">
{% block content %}{% endblock %}
</div>

<div id="aside">
{% block aside %}{% endblock %}

{% if profile.moderator %}
<ul id="moderators" class="block">
  <li><a href="{% url all_deleted_articles %}">Все удаленные статьи</a>
  <li><a href="{% url cicero.views.spam_queue %}">Спам</a>
</ul>
{% endif %}

<ul id="misc" class="block">
  <li><a href="{% url scipio_whitelist %}">OpenID whitelist</a>
</ul>

</div>

{% if user.is_authenticated %}
<form action="{% url scipio_logout %}" method="post" id="auth">
  <p>
    <a href="{{ profile.get_absolute_url }}">{{ profile }}</a>
  <div class="buttons"><button type="submit">Выход</button></div>
</form>
{% else %}
<form action="{% url scipio_login %}" method="post" id="auth">
  <p><label>OpenID: <input type="text" name="openid_identity"></label>
  <div class="buttons"><button type="submit">Вход</button></div>
</form>
{% endif %}

{% endblock %}
