{% extends "cicero/auth.html" %}
{% load cicero %}

{% block cicero_title %}Форумы Cicero{% endblock %}

{% block content %}

{% setnews object_list %}
{% regroup object_list by group as groups %}

{% for group in groups %}

{% if group.grouper %}
<div class="group">
<h2>{{ group.grouper }}</h2>
{% endif %}
<ul>
{% for forum in group.list %}
  <li {% if forum.new %}class="new"{% endif %}><a href="{{ forum.slug }}/">{{ forum }}</a>
{% endfor %}
</ul>
{% if group.grouper %}
</div>
{% endif %}

{% endfor %}

{% endblock %}

{% block aside %}

{% if user.is_authenticated %}
<div id="mark_read" class="block">
  <form action="mark_read/" method="post">
    <button type="submit">Прочитать все</button>
  </form>
</div>
{% endif %}

{% endblock %}