{% extends template_base %}
{% load cicero %}

{% block cicero_title %}Форумы Cicero: вход{% endblock %}

{% block cicero_content %}
<div id="content">

<form action="./" method="post" id="login">
  {% if redirect %}<input type="hidden" name="redirect" value="{{ redirect|escape }}">{% endif %}
  <p>
    <label for="id_openid">{{ form.openid.label }}</label>
    {{ form.openid }}
    {% if form.openid.errors %}<em class="error">{{ form.openid.errors|join:", " }}</em>{% endif %}
  
  <div class="buttons"><button type="submit">Войти</button></div>
</form>

</div>
{% endblock %}