{% extends "cicero/auth.html" %}
{% load cicero %}

{% block cicero_title %}Редактирование профиля {{ profile }}{% endblock %}

{% block content %}
<h2>Редактирование профиля <span class="name">{{ profile }}</span></h2>

<form action="./" id="openid" method="post" class="block">
  <h3>OpenID</h3>
  <input type="hidden" name="form" value="openid">
  {% if profile.mutant %}
  <p id="mutant">
    <img src="{{ profile.get_mutant_url }}" alt="">
  {% endif %}
  <p>
    <label for="id_openid_url">{{ openid_form.openid_url.label }}</label>
    {{ openid_form.openid_url }}
    {% if openid_form.openid_url.errors %}<em class="error">{{ openid_form.openid_url.errors|join:", " }}</em>{% endif %}
  
  <div class="buttons"><button type="submit">Изменить</button></div>
</form>

<div id="personal" class="block">
  <form action="./" method="post">
    <h3>Личные данные</h3>
    <input type="hidden" name="form" value="personal">
    <p>
      <label for="id_name">{{ personal_form.name.label }}</label>
      {{ personal_form.name }}
      {% if personal_form.name.errors %}<em class="error">{{ personal_form.name.errors|join:", " }}</em>{% endif %}
    
    <div class="buttons"><button type="submit">Изменить</button></div>
  </form>
  
  {% if profile.openid %}
  <form action="hcard/" method="post" id="hcard">
    <div class="buttons"><button type="submit">Считать из hCard</button></div>
  </form>
  {% endif %}
</div>

<form action="./" id="settings" method="post" class="block">
  <h3>Настройки</h3>
  <input type="hidden" name="form" value="settings">
  <p>
    <label for="id_filter">{{ settings_form.filter.label }}</label>
    {{ settings_form.filter }}
    {% if settings_form.filter.errors %}<em class="error">{{ settings_form.filter.errors|join:", " }}</em>{% endif %}
  
  <div class="buttons"><button type="submit">Изменить</button></div>
</form>

{% endblock %}

{% block aside %}
<ul id="nav" class="block">
  <li><a href="../../">Начало</a>
  <li><a href="{% obj_url profile %}">Страница пользователя</a>
</ul>
{% endblock %}