{% extends "cicero/auth.html" %}
{% load cicero %}

{% block cicero_title %}Редактирование профиля {{ profile }}{% endblock %}

{% block content %}
<h2>Редактирование профиля <span class="name">{{ profile }}</span></h2>

<form action="{% url cicero.views.change_openid %}" id="openid" method="post" class="block">
  <h3>OpenID</h3>
  {% if profile.mutant %}
  <p id="mutant">
    <img src="{{ profile.mutant.url }}" alt="">
  {% endif %}
  <p>
    <label for="id_openid_url">{{ openid.openid_url.label }}</label>
    {{ openid.openid_url }}
    {% if openid.openid_url.errors %}<em class="error">{{ openid.openid_url.errors|join:", " }}</em>{% endif %}
  
  <div class="buttons"><button type="submit">Изменить</button></div>
</form>

<div id="personal" class="block">
  <form action="{% url cicero.views.post_profile "personal" %}" method="post">
    <h3>Личные данные</h3>
    <p>
      <label for="id_name">{{ personal.name.label }}</label>
      {{ personal.name }}
      {% if personal.name.errors %}<em class="error">{{ personal.name.errors|join:", " }}</em>{% endif %}
    
    <div class="buttons"><button type="submit">Изменить</button></div>
  </form>
  
  {% if profile.openid %}
  <form action="{% url cicero.views.read_hcard %}" method="post" id="hcard">
    <div class="buttons"><button type="submit">Считать из hCard</button></div>
  </form>
  {% endif %}
</div>

<form action="{% url cicero.views.post_profile "settings" %}" id="settings" method="post" class="block">
  <h3>Настройки</h3>
  <p>
    <label for="id_filter">{{ settings.filter.label }}</label>
    {{ settings.filter }}
    {% if settings.filter.errors %}<em class="error">{{ settings.filter.errors|join:", " }}</em>{% endif %}
  
  <div class="buttons"><button type="submit">Изменить</button></div>
</form>

{% endblock %}

{% block aside %}
<ul id="nav" class="block">
  <li><a href="../../">Начало</a>
  <li><a href="{{ profile.get_absolute_url }}">Страница пользователя</a>
</ul>
{% endblock %}