{% extends "cicero/auth.html" %}
{% load cicero %}

{% block cicero_title %}Поиск по форуму {{ forum|escape }}{% endblock %}

{% block content %}

<h2>Поиск по форуму "{{ forum|escape }}"</h2>

<form id="search_form">
  <p><input type="search" name="term" value="{{ term|escape }}">
  <div class="buttons"><button type="submit">Искать</button></div>
</form>

{% if term %}

{% if topics %}

{% paginator %}

<ol>
{% for topic in topics %}
  <li><a href="{% url cicero.views.topic forum.slug,topic.id %}">{{ topic|escape }}</a>
{% endfor %}
</ol>

{% paginator %}

{% else %}
<p id="empty">Ничего не найдено.
{% endif %}

{% endif %}

{% endblock %}

{% block aside %}
<ul id="breadcrumbs" class="block">
  <li id="index_link"><a href="{% url cicero_index %}">Начало</a>
  <li><a href="{% url cicero.views.forum forum.slug %}">{{ forum|escape }}</a>
</ul>

{% endblock %}