{% extends template_base %}
{% load cicero %}

{% block title %}Форум {{ forum|escape }}{% endblock %}

{% block content %}

<h2>{{ forum|escape }}</h2>

{% paginator %}

<ol>
{% for topic in object_list %}
  <li><a href="{{ topic.id }}/">{{ topic|escape }}</a>
{% endfor %}
</ol>

{% paginator %}

<form action="./" method="post" id="add">
  {{ form.as_p }}
  
  <div class="buttons"><button type="submit">Добавить</button></div>
</form>

<ul id="breadcrumbs">
  <li id="index_link"><a href="../">Начало</a>
</ul>

{% endblock %}