{% extends "cicero/auth.html" %}
{% load cicero %}

{% block cicero_title %}Форум {{ forum }}{% endblock %}

{% block content %}

<h2>{{ forum }}</h2>

<form id="search_form" action="{% url cicero.views.search forum.slug %}" method="get">
  <p><input type="search" name="term">
  <div class="buttons"><button type="submit">Искать</button></div>
</form>

{% paginator %}

<ol>
{% setnews object_list %}
{% for topic in object_list %}
  <li {% if topic.new %}class="new"{% endif %}><a href="{{ topic.id }}/">{{ topic }}</a>
{% endfor %}
</ol>

{% paginator %}

<form action="./" method="post" id="add">
  <p>
    <label for="id_subject">{{ form.subject.label }}</label>
    {{ form.subject }}
    {% if form.subject.errors %}<em class="error">{{ form.subject.errors|join:", " }}</em>{% endif %}
  <p>
    <label for="id_text">{{ form.text.label }}</label>
    {{ form.text }}
    {% if form.text.errors %}<em class="error">{{ form.text.errors|join:", " }}</em>{% endif %}
  {% if not user.is_authenticated %}
  <p>
    <label for="id_name">{{ form.name.label }}</label>
    {{ form.name }}
    {% if form.name.errors %}<em class="error">{{ form.name.errors|join:", " }}</em>{% endif %}
  {% endif %}
  
  <div class="buttons"><button type="submit">Добавить</button></div>
</form>

{% endblock %}

{% block aside %}
<ul id="breadcrumbs" class="block">
  <li id="index_link"><a href="{% url cicero_index %}">Начало</a>
</ul>

{% if user.is_authenticated %}
<div id="mark_read" class="block">
  <form action="mark_read/" method="post">
    <button type="submit">Прочитать форум</button>
  </form>
  <form action="../mark_read/" method="post">
    <button type="submit">Прочитать все</button>
  </form>
</div>
{% endif %}

{% endblock %}