{% extends "cicero/auth.html" %}

{% block cicero_title %}Редатирование топика{% endblock %}

{% block content %}

<h2>Редактирование топика</h2>

<form action="./" method="post" id="edit">
  <p>
    <label for="id_text">{{ form.subject.label }}</label>
    {{ form.subject }}
    {% if form.subject.errors %}<em class="error">{{ form.subject.errors|join:", " }}</em>{% endif %}
  
  <div class="buttons"><button type="submit">Сохранить</button></div>
</form>

{% endblock %}

{% block aside %}
<ul id="breadcrumbs" class="block">
  <li><a href="{% url cicero.views.topic article.topic.forum.slug,article.topic.id %}">Топик</a>
</ul>

{% endblock %}