{% extends "cicero/auth.html" %}
{% load cicero %}

{% block cicero_title %}Форум {{ forum }}{% endblock %}

{% block cicero_extrahead %}<link rel="alternate" type="application/atom+xml" href="{% url cicero_feeds url="articles" %}{{ forum.slug }}/">{% endblock %}

{% block content %}

<h2>{{ forum }}</h2>

<form id="search_form" action="{% url cicero.views.search forum.slug %}" method="get">
  <p><input type="search" name="term">
  <div class="buttons"><button type="submit">Искать</button></div>
</form>

{% paginator %}

{% setnews object_list %}
{% topic_list_block object_list %}

{% paginator %}

{% post_form form forum %}

{% endblock %}

{% block aside %}
<ul id="breadcrumbs" class="block">
  <li id="index_link"><a href="{% url cicero_index %}">Начало</a>
</ul>

{% if user.is_authenticated %}
<div id="mark_read" class="block">
  <form action="mark_read/" method="post">
    <button type="submit">Прочитать форум</button>
  </form>
  <form action="../mark_read/" method="post">
    <button type="submit">Прочитать все</button>
  </form>
</div>
{% endif %}

{% endblock %}